Resources:
  AWSEBAutoScalingLaunchTemplate:
    Type: AWS::EC2::LaunchTemplate
    Properties:
      LaunchTemplateName: downtube-launch-template
      LaunchTemplateData:
        InstanceType: t3.micro
        ImageId: ami-012967cc5a8c9f891
        SecurityGroupIds:
          - sg-0062d36f06aa1419b
        BlockDeviceMappings:
          - DeviceName: /dev/xvda
            Ebs:
              VolumeType: gp3
              VolumeSize: 20 # Size in GiB
              DeleteOnTermination: true

  AWSEBAutoScalingGroup:
    Type: AWS::AutoScaling::AutoScalingGroup
    Properties:
      AutoScalingGroupName: awseb-e-DrrGlUL3Ws1pHTz8JpQt
      VPCZoneIdentifier:
        - subnet-0dfa1750d2987f16a
        - subnet-010e2201c23ca1ed3
      LaunchTemplate:
        LaunchTemplateId: !GetAtt AWSEBAutoScalingLaunchTemplate.LaunchTemplateID
        Version: !GetAtt AWSEBAutoScalingLaunchTemplate.LatestVersionNumber
      MinSize: '1'
      MaxSize: '4'
      DesiredCapacity: '1'
      TargetGroupARNs:
        - arn:aws:elasticloadbalancing:us-east-1:891377337116:targetgroup/downtube/caf1463b0034112d