Resources:
  AWSEBAutoScalingLaunchTemplate:
    Type: AWS::EC2::LaunchTemplate
    Properties:
      LaunchTemplateName: !Sub "${AWS::StackName}-launch-template"
      LaunchTemplateData:
        InstanceType: t3.micro 
        ImageId: ami-012967cc5a8c9f891
        # Additional configurations as needed

option_settings:
  aws:autoscaling:launchconfiguration:
    LaunchConfigurationName: null
  aws:elasticbeanstalk:environment:process:default:
    DeploymentPolicy: Immutable